body{
 margin:0;
 font-family:Arial;
 background:#f3f4f6;
}

/* NAVBAR */

.nav{
 background:#131921;
 color:white;
 padding:15px;
 display:flex;
 align-items:center;
 gap:20px;
}

.logo{
 font-size:22px;
 font-weight:bold;
 color:#00ffd5;
}

.search{
 flex:1;
 padding:10px;
 border-radius:5px;
 border:none;
}

.cart-btn{
 background:#febd69;
 padding:10px 15px;
 border:none;
 border-radius:5px;
 cursor:pointer;
}


/* PRODUCTS */

.grid{
 display:grid;
 grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
 gap:20px;
 padding:30px;
}

.card{
 background:white;
 border-radius:10px;
 padding:15px;
 box-shadow:0 3px 8px rgba(0,0,0,.08);
 transition:.2s;
}

.card:hover{
 transform:scale(1.03);
}

.card img{
 width:100%;
 height:200px;
 object-fit:contain;
}

.price{
 color:#B12704;
 font-size:20px;
 font-weight:bold;
}

.old{
 text-decoration:line-through;
 color:gray;
}

.btn{
 width:100%;
 padding:12px;
 background:#ffd814;
 border:none;
 margin-top:10px;
 cursor:pointer;
 font-weight:bold;
}

.btn:hover{
 background:#f7ca00;
                              }
